/*resetting the layout*/
*, html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
	overflow-x: hidden;
}

/*body layout manual with percent*/
body {
	max-width: 1000px;
	margin: 0 auto;
	
	color: #444;
	scroll-behavior: smooth;
}

/*head content and profile content layout*/
#head-content {
	text-align: center;
	font-family: sans-serif;
}

#head-content img{
	width: 20%;
	border-radius: 20px;
	margin-top: 60px;
}

#head-content > h1 {
	font-size: 1rem;
	padding: 5px;
}

#head-content > p {
	font-size: 0.7rem;
	font-weight: bold;
	color: #bdbdbd;
}

#engagement-div {
	display: flex;
	justify-content: center;
	margin-top: 10px;
	margin-bottom: 50px;
}

#engagement-div > div {
	background-color: #dbdbdb;
	border-radius: 13px;
	width: 10%;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 10px;
	font-size: 0.8rem;
}

.para-div {
	font-weight: 700;
	color: #333;
}

.para2-div {
	font-size: 0.5rem;
	color: #bdbdbd;
	font-weight: bold;
}

@media only screen and (max-width: 630px) {
	.para-div, .para2-div {
		font-size: 0.5rem;
	}
	#engagement-div > div {
		width: 15%;
	}
	#head-content > h1 {
		font-size: 0.8rem;
	}
	#head-content > p{
		font-size: 0.5rem;
	}
	#engagement-div {
		margin-bottom: 20px;
	}
}

#img-sec {
	width: 95%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 5vw);
	grid-gap: 10px;
}

#img-sec  div > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px;
	display: block;
}

.img-div-1{
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 4;
}

.img-div-2 {
	grid-column-start: 4;
	grid-column-end: 9;
	grid-row-start: 1;
	grid-row-end: 4;
}

.img-div-3 {
	grid-column-start: 1;
	grid-column-end: 6;
	grid-row-start: 4;
	grid-row-end: 8;
}

.img-div-4 {
	grid-column-start: 6;
	grid-column-end: 9;
	grid-row-start: 4;
	grid-row-end: 10;
}

.img-div-5 {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 8;
	grid-row-end: 10;
}

.img-div-6 {
	grid-column-start: 4;
	grid-column-end: 6;
	grid-row-start: 8;
	grid-row-end: 10;
}

footer {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 10px;
}

footer > p, a {
	font-size: 0.8rem;
	color: #bdbdbd;
	text-decoration: none;
}